Repository mtxr/vscode-sqltools, pull requests merged in 2019-09, with the labels that each got.

#379 WIP: Add Cassandra driver
  .test-database/cql/1.create-some-stuff.sql
  .test-database/cql/2.select-some-stuff.sql
  .test-database/cql/docker-compose.yml
  .test-database/docker-compose.yml
  .test-database/project.code-workspace
  docs/Connections.md
  docs/Connections/cql.md
  packages/core/dialect/cql/index.ts
  packages/core/dialect/cql/queries.ts
  packages/core/dialect/index.ts
  packages/core/interface/connection.ts
  packages/core/interface/dialect.ts
  packages/core/package.json
  packages/core/utils/query.ts
  packages/core/utils/query/parse.ts
  packages/core/utils/query/prefixed-tablenames.test.ts
  packages/core/utils/query/prefixed-tablenames.ts
  packages/extension/package.json
  packages/plugins/connection-manager/explorer/index.ts
  packages/ui/screens/Settings/Drivers/CQL.tsx
  packages/ui/screens/Settings/Drivers/index.tsx
  packages/ui/screens/Settings/Drivers/lib/GenericSettings.tsx
  packages/ui/screens/Settings/icons/cassandra.png
  packages/ui/screens/Settings/lib/availableDialects.ts
  yarn.lock
Labels: cassandra, rdbms dialect

#387 Add driver tool
  README.md
  docs/Contributing/support-new-drivers.md
  docs/SUMMARY.md
  package.json
  tools/add-driver.js
  tools/add-new.diff
Labels: enhancement

#391 feat/support-db2
  .test-database/db2/1.create-some-stuff.sql
  .test-database/db2/2.select-some-stuff.sql
  .test-database/db2/docker-compose.yml
  .test-database/project.code-workspace
  docs/Connections.md
  docs/Connections/db2.md
  docs/SUMMARY.md
  packages/core/dialect/db2/index.ts
  packages/core/dialect/db2/queries.ts
  packages/core/dialect/index.ts
  packages/core/interface/dialect.ts
  packages/core/package.json
  packages/core/utils/query/prefixed-tablenames.test.ts
  packages/core/utils/query/prefixed-tablenames.ts
  packages/extension/package.json
  packages/language-server/webpack.config.js
  packages/plugins/connection-manager/explorer/index.ts
  packages/ui/screens/Settings/Drivers/DB2.tsx
  packages/ui/screens/Settings/Drivers/index.tsx
  packages/ui/screens/Settings/icons/db2.png
  packages/ui/screens/Settings/lib/availableDialects.ts
Labels: ibm db2, rdbms dialect
