Repository mtxr/vscode-sqltools, pull requests merged in 2019-04, with the labels that each got.

#153 Added SSL support for MySQL to the core
  packages/core/dialect/mysql/default.ts
  packages/core/interface/connection.ts
Labels: enhancement, mysql

#172 Add support for stored procedures listing
  .test-database/.vscode/settings.json
  CHANGELOG.md
  README.md
  packages/core/connection.ts
  packages/core/dialect/generic.ts
  packages/core/dialect/mysql/default.ts
  packages/core/dialect/mysql/index.ts
  packages/core/dialect/mysql/queries.ts
  packages/core/dialect/mysql/xprotocol.ts
  packages/core/dialect/pgsql/index.ts
  packages/core/dialect/pgsql/queries.ts
  packages/core/interface/connection.ts
  packages/core/interface/dialect.ts
  packages/core/interface/settings.ts
  packages/core/plugin-api.d.ts
  packages/core/utils/vscode.ts
  packages/extension/icons/function-dark.svg
  packages/extension/icons/function-light.svg
  packages/extension/package.json
  packages/plugins/connection-manager/contracts.ts
  packages/plugins/connection-manager/explorer/index.ts
  packages/plugins/connection-manager/explorer/tree-items.ts
  packages/plugins/connection-manager/extension.ts
  packages/plugins/connection-manager/language-server.ts
  packages/plugins/connection-manager/store/actions.ts
  packages/plugins/connection-manager/store/handlers.ts
  packages/plugins/connection-manager/store/state.ts
  packages/plugins/formatter/extension.ts
  static/stored-procedures.png
Labels: feature request, sgdb

#175 MySQL enhancements. Sockets and support new versions
  .gitignore
  .test-database/.vscode/settings.json
  .test-database/mysql/docker-compose.yml
  .test-database/start-dbs.sh
  CHANGELOG.md
  docs/Connections/mysql.md
  package.json
  packages/core/dialect/mysql/default.ts
  packages/core/dialect/mysql/queries.ts
  packages/core/dialect/mysql/xprotocol.ts
  packages/core/dialect/sqlite/index.ts
  packages/core/interface/connection.ts
  packages/extension/package.json
  packages/ui/screens/Settings/Screen.tsx
Labels: enhancement, mysql

#178 Fixes #176. Fixes mysql query only_full_group_by
  packages/core/dialect/mysql/index.ts
  packages/core/dialect/mysql/queries.ts
Labels: bug, mysql

#179 Generate insert queries with prefixes
  CHANGELOG.md
  packages/core/connection.ts
  packages/core/dialect/oracle/index.ts
  packages/core/dialect/oracle/queries.ts
  packages/core/utils/query/prefixed-tablenames.test.ts
  packages/core/utils/query/prefixed-tablenames.ts
  packages/plugins/connection-manager/explorer/tree-items.ts
  packages/plugins/connection-manager/extension.ts
Labels: enhancement, formatting

#180 Add codelens plugin
  packages/core/constants.ts
  packages/core/dialect/oracle/index.ts
  packages/core/interface/settings.ts
  packages/core/utils/vscode/selector.ts
  packages/extension/index.ts
  packages/extension/language/sql.tmLanguage.json
  packages/extension/package.json
  packages/plugins/codelens/extension.ts
  packages/plugins/codelens/provider.ts
Labels: feature request, ui/ux

#192 feat: give ability to set `connectString` directly
  packages/core/dialect/oracle/index.ts
  packages/core/interface/connection.ts
  packages/extension/package.json
Labels: enhancement, oracle
