Repository mtxr/vscode-sqltools, pull requests merged in 2019-05, with the labels that each got.

#209 Feature/edit connection
  .test-database/.vscode/settings.json
  package.json
  packages/core/utils/get-connection-stuff.ts
  packages/core/utils/index.ts
  packages/extension/package.json
  packages/plugins/connection-manager/explorer/index.ts
  packages/plugins/connection-manager/extension.ts
  packages/plugins/connection-manager/screens/provider.ts
  packages/plugins/connection-manager/screens/settings.ts
  packages/ui/components/Syntax.tsx
  packages/ui/lib/utils.ts
  packages/ui/sass/_syntax.scss
  packages/ui/sass/_variables.scss
  packages/ui/sass/lib/_simple-grid.scss
  packages/ui/screens/Results/Screen.tsx
  packages/ui/screens/Settings/FileInput.tsx
  packages/ui/screens/Settings/Screen.tsx
  project.code-workspace
  yarn.lock
Labels: ui/ux

#215 WIP: SAP Hana dialect
  .gitignore
  .test-database/.vscode/settings.json
  docs/Connections.md
  docs/Connections/SAPHANA.md
  docs/SUMMARY.md
  packages/core/.vscode/launch.json
  packages/core/dialect/generic.ts
  packages/core/dialect/index.ts
  packages/core/dialect/saphana/debug.js
  packages/core/dialect/saphana/index.ts
  packages/core/dialect/saphana/queries.ts
  packages/core/interface/dialect.ts
  packages/extension/package.json
  packages/language-server/webpack.config.js
  packages/plugins/.vscode/launch.json
  packages/plugins/connection-manager/explorer/index.ts
  packages/plugins/dependency-manager/language-server.ts
  packages/ui/screens/Settings/Screen.tsx
  yarn.lock
Labels: engineering, feature request, rdbms dialect

#232 Make sqltools work in Theia. ConfigManager.completionLanguages is undefined
  packages/extension/language-client/client.ts
Labels: bug, engineering

#234 Allow to open results screen for each connection
  packages/core/package.json
  packages/extension/package.json
  packages/language-server/package.json
  packages/plugins/connection-manager/extension.ts
  packages/plugins/connection-manager/screens/provider.ts
  packages/plugins/connection-manager/screens/results.ts
  packages/plugins/connection-manager/screens/settings.ts
  packages/ui/screens/Results/ResultsTable.tsx
  yarn.lock
Labels: engineering, ui/ux

#255 Make database configuration relative to the workspace root
  packages/plugins/connection-manager/screens/settings.ts
Labels: engineering

#260 ORA: Add named parameters in func/proc arguments
  packages/core/dialect/oracle/index.ts
  packages/core/dialect/oracle/queries.ts
  packages/plugins/connection-manager/explorer/tree-items.ts
Labels: oracle
